@use '../abstracts/config' as *;


// Estilos globales del body
body {
    background-color: $color-background-light;
    margin: 0; // Quita el margen por defecto del body
    // Propiedades para el "Sticky Footer" con Flexbox
    display: flex;
    flex-direction: column;
    min-height: 100vh; // Asegura que el body ocupe al menos toda la altura de la vista
}

// Contenedor principal para el contenido que empujará el footer hacia abajo
.site-content {
    flex-grow: 1; // Permite que el contenido principal ocupe todo el espacio disponible
}