
// Este es el archivo principal que se compila a assets/css/style.css
// Contiene la importación de Bootstrap, la sobrescritura de sus variables
// y la importación de todos los demás parciales del proyecto.

// Empleo 'as *' para poder usar las variables directamente sin el prefijo 'config.'
@use 'abstracts/config' as *;

@use "../../node_modules/bootstrap/scss/bootstrap" with (
  // Colores de Bootstrap:
  $primary: $color-purple,         
  $secondary: $color-secondary-text,         
  $dark: $color-primary-text,     
  $light: $color-white, 
  $success: $color-dark-blue,
  $info: $color-light-blue, 
  $warning: $color-border-grey,  
  $body-bg: $color-background-light,
  $link-color: $color-light-grey, 
  $link-decoration: none, // Quitar subrayado por defecto de enlaces

  // Tipografía
  $font-family-base: $font-family-primary, // Fuente principal para todo el cuerpo
  $headings-font-family: $font-family-primary, 
  $h1-font-size: $font-size-h1,
  $h2-font-size: $font-size-h2,
  $h3-font-size: $font-size-h3,
  $h4-font-size: $font-size-h4, 
  

  // Border-radius
  $border-radius: $border-radius-small, // Radios de borde para componentes generales
  $border-radius-sm: $border-radius-small,
  $border-radius-lg: $border-radius-medium, // Puedo usar medium para 'lg'

  // Transiciones (puedo usar mis variables si quiero ser muy específica)
  $transition-base: all $transition-speed $transition-ease
);

// 4. Importa tus estilos base
@use 'base/reset';
@use 'base/global-styles';
@use 'base/typography';

// 5. Importa tus estilos de layout
@use 'layout/header';
@use 'layout/footer';
@use 'layout/hero';
@use 'layout/clients';
@use 'layout/contact';
// 6. Importa tus estilos de componentes

@use 'components/button';
@use 'components/service-card';
@use 'components/contact-form';
