// assets/scss/components/_button.scss
@use '../abstracts/config' as *;

// Estilos personalizados para los  botones (que complementan o sobrescriben Bootstrap)
.btn-primary { // Aplicaré la clase btn-primary de Bootstrap

    font-family: $font-family-primary;
    font-weight: 700; 
    padding: $spacing-x-small $spacing-medium; 
    border-radius: $border-radius-medium; // Usa mi border-radius definido
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;

    &:hover {
        transform: translateY(-2px); // Efecto ligero al pasar el cursor
        background-color: darken($color-purple, 10%); // Oscurece el morado en hover
    }
}

// quiero un modificador BEM para un botón de formulario más ancho:
.btn--form-wide {
    width: 100%; 
    max-width: 300px; 
    margin-left: auto; 
    margin-right: auto;
}