// assets/scss/layout/_clients.scss
@use '../abstracts/config' as *;

.clients {
    background-color: $color-dark-blue;
    color: $color-white;

    &__button {
        margin-top: $spacing-large;
    }
}

.client-gallery {
    // Asegura que el espacio entre columnas y filas sea consistente
    // g-4 de Bootstrap ya maneja esto, pero puedo ajustar si quiero un espaciado diferente aquí.

    .client-gallery__item {
        overflow: hidden; 
        border-radius: 50%; 
        aspect-ratio: 1 / 1; // Mantiene el aspecto cuadrado/circular del contenedor
        display: flex; // Ayuda a centrar la imagen dentro si es más pequeña
        align-items: center;
        justify-content: center;
        cursor: pointer; 
        border: 2px solid $color-light-blue; 

        &:hover {
            transform: scale(1.05);
        }
        

        // Asegura que la imagen sea un círculo dentro del item
        &__image {
            object-fit: cover; // Asegura que la imagen cubra el área sin distorsionarse
            width: 100%;
            height: 100%;
       
     }

}


}