// assets/scss/layout/_contact.scss
@use '../abstracts/config' as *;

.contact {

    &__form-wrapper {
        background-color: $color-white; 
        max-width: 600px; 
        border: 3px solid $color-light-blue; 
    }

}