// assets/scss/layout/_footer.scss
@use '../abstracts/config' as *; 

.main-footer {
    background-color: $color-primary-text; 
    color: $color-white;
    padding: $spacing-medium 0;
    font-size: $font-size-small;
    margin-top: auto; /* ineresting: crucial para el "Sticky Footer" */

    

    &__logo {
        max-width: 80px; // Limita el ancho del logo
        display: block;
        margin-inline: auto; // Centra el logo horizontalmente
        @media (min-width: 992px) { // Esto es para el breakpoint 'lg' de Bootstrap
            margin-inline: 0; // Quita el centrado y lo alinea a la izquierda (por defecto de block)
            
        }

    }

    &__description {
        // Estilos para la descripción
        font-size: $font-size-small;
        line-height: 1.5;
        
        
    }

    &__contact-info {
        // Estilos para los bloques de info de contacto
        margin-bottom: $spacing-small; // Espacio entre bloques de contacto
    }

    &__contact-heading {
        color: $color-white; 
        margin-bottom: $spacing-xx-small; 
    }

    &__contact-detail {
        margin-bottom: 0; // Elimina el margen inferior por defecto de los párrafos
    }

    
    // Estilos específicos para los enlaces sociales (elementos del bloque social-links)
    .social-links {
        a {
            transition: transform 0.2s ease-in-out;
            display: inline-block; // Asegura que la transformación funcione

            &:hover {
                transform: scale(1.1);
            }
            
        }
    };

    &__copyright {
        font-size: $font-size-small;
        
        
    }
}