// assets/scss/layout/_hero.scss
@use '../abstracts/config' as *;

.hero {
    position: relative; // Necesario para el overlay
    min-height: 50vh; // Altura mínima de la sección para dispositivos móviles
    background-image: url('../../assets/img/h5.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex; // Para que el contenido interno se centre con las clases de Bootstrap
    align-items: center;
    justify-content: center;
    color: $color-white; 

    // Overlay oscuro para mejorar la legibilidad del texto
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); // Color negro con 50% de opacidad
        z-index: 1; // Asegura que el overlay esté por debajo del contenido
    }

    // Asegura que el contenido esté por encima del overlay
    &__content {
        position: relative;
        z-index: 2; 
        padding: $spacing-large; 
    }

    &__title {
        margin-bottom: $spacing-x-small; // Espaciado entre título y slogan
    }

    // Media query para pantallas más grandes 
    @media (min-width: 768px) { // breakpoint de Bootstrap para `md`
        min-height: 70vh; // Mayor altura en pantallas grandes
    }
}